
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #555;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 300%;
    color: #fff;
}

h2 {
    font-size: 220%;
    color: #555;
}

h3 {
    font-size: 120%;
}
/* ----------------- */
/* Header */
/* ----------------- */

header {
    height: 100vh;
    background-image: url(img/bckimg.JPG);
    background-size: cover;
}

.left_header,
.right_header {
    display: block;
    float: left;
    width: 50%;
    height: 100vh;
}

.left_header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.header_text_box {
    display: block;
    height: 50%;
    width: 100%;
    /* border: 1px solid #fff; */
    margin-top: 25%;
    text-align: center;
}

.header_text_box p {
    color: #fff;
    width: 50%;
    margin-left: 25%;
}

.short_bottom_line {
    border-top: 1px solid #fff;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;

}

#hello_world {
    padding-top: 20px;
    font-size: 125%;
}

#intro {
    border: 1px solid #fff;
    margin-top: 20%;
}

/* ----------------- */
/* Section Profile */
/* ----------------- */

.section_profile {
    height: 100vh;
}

.section_title {
    display: block;
    text-align: center;
    padding-top: 40px;
    width: 30%;
    margin-left: 35%;
}

.section_title h2 {
    color: #2980b9;
}


#about_me_sub {
    display: block;
    text-align: center;
    padding-top: 20px;
    font-size: 125%;
}

.black {
    border-bottom: 1px solid #555;
}


.col {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    height: 65vh;
    margin-top: 40px;
}

.center_of_3 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: 1px solid #2980b9;
    background-color: ;
}

.left_of_3 {
    margin-left: 11%;
}

.right_of_3 {
    margin-right: 11%;
}

ion-icon {
    display: inline-block;
    font-size: 250%;
    text-align: center;
    margin: 5px 5px;
    color: #2980b9;
}

.profile_subtitle,
.profile_text {
    padding: 30px 30px;
}

.profile_text {
    display: block;
    float: left;
    text-align: justify;
    line-height: 1.6;
}

.profile_text a {
    text-decoration: none;
    color: #236d9d;
}

/* Section experiences */

#section_experiences {
    background-color: #ecf0f1;
}

#experiences {
    color: #2980b9;
}

.quote {
    display: block;
    text-align: center;
    padding-top: 20px;
}

#connecting_the_dots {
    font-size: 125%;
    padding-bottom: 10px;
    line-height: 40px;
    width: 35%;
    margin-left: 32.5%;
}

.exp_container {
    display: grid;
    grid-template-columns: 50% auto;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    text-align: left;
    line-height: 1.6;
    border-top: 0.8px solid #555;
}

.exp_left,
.exp_right {
    padding-top: 40px;
}

/*  */
/* Section Skills */
/*  */

.fas,
.far {
    color: #236d9d;
}

.grid_container_60_40 {
    display: grid;
    width: 60%;
    margin-left: 20%;
    grid-template-columns: 30% 20% 30% 20%;
    margin-top: 20px;
    text-align: left;
    line-height: 1.6;
}

.skill_title {
    grid-column: 1/5;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.skill_name,
.skill_level {
    padding-top: 7px;
}